{% set has_icon = false %}


<div{{ attributes.addClass(classes) }}>
  {{ title_suffix }}
  
  {% if body | render %}
    {# start wrapping inner div #}
    <div class="cta-button__inner">
  {% endif %}

    {% if body | render %}
      <div class="cta-button__body">
        {{ body }}
      </div>
    {% endif %}
    
    {% if webform_url %}
      <div class="cta-button__webform">
        <a aria-role="button" href="{{ webform_url }}" class="webform-dialog webform-dialog-normal button {% if has_icon %}has-icon{% endif %}">
          {{ webform_text }}
          {% if has_icon %}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
            </svg>
          {% endif %}
        </a>
      </div>
    {% endif %}

    {% if cta_button and not webform_url %}
      <div class="cta-button__button">
        {{ content.field_cta_button }}
      </div>
    {% endif %}

  {# end wrapping inner div #}
  {% if body | render %}
    </div>
  {% endif %}

</div>