
{% set cta_link_style_class = cta_button_style ? cta_button_style : 'button' %}

<div{{ attributes.addClass(classes) }}>
  {{ title_suffix }}
  
  {% if body | render %}
    {# start wrapping inner div #}
    <div class="cta-button__inner">
  {% endif %}

    {% if body | render %}
      <div class="cta-button__body">
        {{ body }}
      </div>
    {% endif %}

    
    {% if webform_text %}
      <div class="cta-button__webform  {{ 'text__align--' ~ cta_align | clean_class }} prose">
        {# @todo use link component #}
        <a aria-role="button" href="{{ webform_url }}" class="webform-dialog webform-dialog-normal {{ cta_link_style_class }}">
           {{ webform_text }}
        </a>
      </div>
    {% endif %}

    {% if cta_button and not webform_text %}
        <div class="cta-button__button {{ 'text__align--' ~ cta_align | clean_class }} prose">
        <a aria-role="button" href="{{ content.field_cta_button.0['#url'] }}" class="{{ cta_link_style_class }}">
          {{ content.field_cta_button.0['#title'] }}
        </a>
        </div>

    {% endif %}

  {# end wrapping inner div #}
  {% if body | render %}
    </div>
  {% endif %}

</div>