{% set has_icon = false %}


<div{{ attributes.addClass(classes) }}>
  {{ title_suffix }}
  
  {% if body | render %}
    {# start wrapping inner div #}
    <div class="cta-button__inner">
  {% endif %}

    {% if body | render %}
      <div class="cta-button__body">
        {{ body }}
      </div>
    {% endif %}
    
    {% if webform_url %}
      <div class="cta-button__webform">
        <a aria-role="button" href="{{ webform_url }}" class="webform-dialog webform-dialog-normal button {% if has_icon %}has-icon{% endif %}">
          {{ webform_text }}
        </a>
      </div>
    {% endif %}

    {% if cta_button and not webform_url %}
      <div class="cta-button__button">
        {{ content.field_cta_button }}
      </div>
    {% endif %}

  {# end wrapping inner div #}
  {% if body | render %}
    </div>
  {% endif %}

</div>