{#
/**
 * @file
 * Theme override to display a view as a collection displayed as rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{{ attach_library('ellison/onpage-navigation') }}

{% set count = items | length %}

{% set items_attribute = create_attribute() %}
{% set items_classes = [
    'glide__slides',
    'slider__items',
    'slider__items--count-' ~ count,
    'prose',
    'max-w-none',
  ]
%}

{% set item_attribute = create_attribute() %}
{% set item_classes = [
    'glide__slide',
    'slider__item',
  ]
%}

{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}



{% embed "@organisms/group/group.html.twig" with {
  title: series_name,
  header: '',
  body: '',
  footer: '',
  id: 'Explore Series',
  group: 'placeholder',
  background_color: 'text__bg-color--cyan',
  background_diagonal: 'diagonal-forward-slash-on',
  background_full_width: 'full-width-on',
  display_style: 'display-as-columns',
  background_tilt: 'tilt-back-slash-off',
  remove_margins: 'remove-mb',
  visible_items: '3',
  data: '',
} %}
  {% block group_content %}
    <div class="glide component">
      <div class="glide__track" data-glide-el="track">
        <ul{{ items_attribute.addClass(items_classes) }}>
          {% for row in rows %}
            <div{{ item_attribute.addClass(item_classes) }}>
               {{ row.content }}
            </div>
          {% endfor %}
        </ul>
      </div>
      <div class="glide__bullets" data-glide-el="controls[nav]">
        {% for row in rows %}
          <button class="glide__bullet" data-glide-dir="={{ loop.index0 }}"></button>
        {% endfor %}
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
          </svg>
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
          </svg>
        </button>
      </div>
    </div>
  {% endblock %}


{% endembed %}