{{ attach_library('ellison/main-navigation') }}

{# Get main menu items #}
{% set items = simplify_menu('main') %}

<div id="main-navigation" class="header__navigating--wrapper">

  <ul class="menu">

  {# Iterate menu tree #}
  {% for menu_item in items.menu_tree %}

    {# Check if this is the active item. #}
    {% set active = (menu_item.active) ? 'is-active' : '' %}
    <li class="menu__item item {{ active }} {{ menu_item.submenu ? 'has-submenu' : ''}}">
      <a href="{{ menu_item.url }}" class="item-link {{ active }}"><span>{{ menu_item.text }}</span></a>
      {% if menu_item.submenu %}
        <ul class="sub-menu">
          {% for submenu_item in menu_item.submenu %}
            {% set subactive = (submenu_item.active) ? 'is-active' : '' %} 
            {# expandable menu naming convention url = /machining-center then menu = 'machining-center' #}
            {% set get_menu = submenu_item.url | replace({'/': ''}) %}
            {# display expandable menu if exists #}
            {% set expandable_items = simplify_menu(get_menu) %}
            <li class="sub-menu__item item {{ subactive }} {{ expandable_items.menu_tree ? 'has-expandable-menu'}}" data-get-menu="{{ get_menu }}">
              <a href="{{ submenu_item.url }}" class="item-link {{ subactive }}"><span>{{ submenu_item.text }}</span></a>
              {% if expandable_items.menu_tree %}
                <ul class="expandable-menu">
                  {% for expandable_item in expandable_items.menu_tree %}
                    {% set expandableactive = (expandable_item.active) ? 'is-active' : '' %} 
                    <li class="expandable-menu__item item {{ expandableactive }}">
                      <a href="{{ expandable_item.url }}" class="item-link {{ expandableactive }}"><span>{{ expandable_item.text }}</span></a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>

      {% endif %}
    </li>

  {% endfor %}

  </ul>

</div>
