{#
/**
 * Group Component
 *
 * Available variables:
 *
  header: content.field_header,
  body: content.field_content,
  footer: content.field_footer,
  group: content.field_group,
  background_color: content.field_background_color,
  background_diagonal: content.field_diagonal_background,
  background_full_width: content.field_full_width_background,
  data: content,
 *
 */
#}

{% set group_id = id | render ? 'group__' ~ id | clean_class : 'group_' ~ random() | clean_class %}

{% set group_label = id | render | striptags | trim ? id : 'na' %}

{% set base_class = 'group' %}

{% set bg_color = background_color | lower | replace({'text__bg-color--': 'bg-color--'}) %}

{% set attributes = create_attribute() %}

{%
  set classes = [
    base_class,
    bg_color | clean_class,
    background_diagonal | clean_class,
    background_full_width | clean_class,
    background_tilt | clean_class,
  ]
%}

{% set inner_attributes = create_attribute() %}

{% set add_container_class = (background_full_width == 'full-width-on') ? ' container' : 'no-container' %}

{%
  set inner_classes = [
    base_class ~ '__inner',
    display_style | clean_class,
    background_color | clean_class,
  ]
%}

<div{{ attributes.addClass(classes).setAttribute('id', group_id).setAttribute('data-id-label', group_label ) }}>
  {{ title_suffix }}
  <div{{ inner_attributes.addClass(inner_classes) }}>
    {% if header | render %}
      <div class="group__header{{ add_container_class }}">
        {{ header }}
      </div>
    {% endif %}
    {% if body | render %}
      <div class="group__body{{ add_container_class }}">
        {{ body }}
      </div>
    {% endif %}
    {% if group | render %}
      <div class="group__group{{ add_container_class }}">
        {% block group_content %}{{ group }}{% endblock %}
      </div>
    {% endif %}
    {% if footer | render %}
      <div class="group__footer{{ add_container_class }}">
        {{ footer }}
      </div>
    {% endif %}
  </div>
</div>