{#
/**
 * Group Component
 *
 * Available variables:
 *
  header: content.field_header,
  body: content.field_content,
  footer: content.field_footer,
  id: content.field_unique_id | render | striptags | trim,
  group: content.field_group,
  background_color: content.field_background_color | render | striptags | trim,
  background_diagonal: content.field_diagonal_background | render | striptags | trim,
  background_full_width: content.field_full_width_background | render | striptags | trim,
  display_style: display_style_value == 'row' ? 'display-as-rows' : 'display-as-columns',
  background_tilt: content.field_enable_back_slash_tilt | render | striptags | trim,
  vertical_align_items: content.field_vertical_align_items | render | striptags | trim,
  full_width_content: content.field_enable_full_width_content | render | striptags | trim,
  remove_margins: content.field_remove_margins | render | striptags | trim,
  data: content,
 *
 */
#}

{% set group_id = id | render ? 'group__' ~ id | clean_class : 'group_' ~ random() | clean_class %}

{% set group_label = id | render | striptags | trim ? id : 'na' %}

{% set base_class = 'group' %}

{% set bg_color = background_color | lower | replace({'text__bg-color--': 'bg-color--'}) %}

{% set attributes = create_attribute() %}

{%
  set classes = [
    base_class,
    bg_color | clean_class,
    background_diagonal | clean_class,
    background_full_width | clean_class,
    background_tilt | clean_class,
    remove_margins | clean_class,
    visible_items ? 'slider-on' : 'slider-off',
  ]
%}

{% set inner_attributes = create_attribute() %}

{# if full width background then add container class and handle full width content override #}
{% set add_container_class = ( background_full_width == 'full-width-on' and full_width_content != 'no-container') ? 'container' : 'no-container' %}

{%
  set inner_classes = [
    base_class ~ '__inner',
    display_style | clean_class,
    background_color | clean_class,
  ]
%}

{% set group_attributes = create_attribute() %}

{%
  set group_classes = [
    base_class ~ '__group',
    vertical_align_items | clean_class,
    add_container_class,
    'foobar-container'
  ]
%}

{% set wrapping_attributes = create_attribute() %}

{%
  set wrapping_classes = [
    add_container_class,
  ]
%}

<div{{ attributes.addClass(classes).setAttribute('id', group_id).setAttribute('data-id-label',group_label).setAttribute('data-visible-items',visible_items ? visible_items : '1') }}>
  {{ title_suffix }}
  <div{{ inner_attributes.addClass(inner_classes) }}>
    {% if header | render %}
      <div{{ wrapping_attributes.addClass(wrapping_classes) }}>
        {{ header }}
      </div>
    {% endif %}
    {% if body | render %}
      <div{{ wrapping_attributes.addClass(wrapping_classes) }}>
        {{ body }}
      </div>
    {% endif %}
    {% if group | render %}
      <div{{ group_attributes.addClass(group_classes) }}>
        {% block group_content %}{{ group }}{% endblock %}
      </div>
    {% endif %}
    {% if footer | render %}
      <div{{ wrapping_attributes.addClass(wrapping_classes) }}>
        {{ footer }}
      </div>
    {% endif %}
  </div>
</div>