{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% set base_class = 'breadcrumb' %}

{% if breadcrumb %}
  <nav {{ bem(base_class) }} role='navigation' aria-labelledby='system-breadcrumb'>
    <h2 {{ bem('visually-hidden') }} id='system-breadcrumb'>{{ 'Breadcrumb'|t }}</h2>
    <ol {{ bem('items', [], base_class) }}>
    {% for item in breadcrumb %}
      <li {{ bem('item', [], base_class) }}>
        {% if item.url %}
          <a {{ bem('link', [], base_class) }} href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
